In [2]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd

In [3]:
data = pd.read_csv('teleCust1000t.csv')
data.head(5)

# y = custcat with 4 classes

,region,tenure,age,marital,address,income,ed,employ,retire,gender,reside,custcat
0,2,13,44,1,9,64.0,4,5,0.0,0,2,1
1,3,11,33,1,7,136.0,5,5,0.0,0,6,4
2,3,68,52,1,24,116.0,1,29,0.0,1,2,3
3,2,33,33,0,12,33.0,2,0,0.0,1,1,1
4,2,23,30,1,9,30.0,1,2,0.0,0,4,3

In [4]:
#checking for nulls and duplicateds 

# data.duplicated().sum()
# data.isnull().sum()

In [5]:
data.columns

Index(['region', 'tenure', 'age', 'marital', 'address', 'income', 'ed',
       'employ', 'retire', 'gender', 'reside', 'custcat'],
      dtype='object')

In [6]:
# converting data frame type to np array to be readable for scikit

input_data = data[['region', 'tenure', 'age', 'marital', 'address', 'income', 'ed',
       'employ', 'retire', 'gender', 'reside']].values

input_label = data['custcat'].values

In [8]:
#seperating test data from train data

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(input_data, input_label, train_size=.8, random_state=50)

In [9]:
# creating pipe 

from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.preprocessing import StandardScaler

# k=4

pipe = Pipeline([
    ('scale', StandardScaler()),
    ('model', KNeighborsClassifier())
])

pipe.fit(x_train,y_train)
y_predicted = pipe.predict(x_test)

In [10]:
#evaluating model

from sklearn import metrics
train_eval = metrics.accuracy_score( y_train , pipe.predict(x_train) )
test_eval = metrics.accuracy_score( y_test , y_predicted  )

In [11]:
train_eval

0.5525

In [12]:
test_eval

0.34