In [2]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd

In [4]:
data = pd.read_csv('teleCust1000t.csv')
data.head(5)

# y = custcat with 4 classes

,region,tenure,age,marital,address,income,ed,employ,retire,gender,reside,custcat
0,2,13,44,1,9,64.0,4,5,0.0,0,2,1
1,3,11,33,1,7,136.0,5,5,0.0,0,6,4
2,3,68,52,1,24,116.0,1,29,0.0,1,2,3
3,2,33,33,0,12,33.0,2,0,0.0,1,1,1
4,2,23,30,1,9,30.0,1,2,0.0,0,4,3

In [ ]:
# data.duplicated().sum()
# data.isnull().sum()

In [19]:
data.columns

Index(['region', 'tenure', 'age', 'marital', 'address', 'income', 'ed',
       'employ', 'retire', 'gender', 'reside', 'custcat'],
      dtype='object')

In [32]:
# converting data frame type to np array to be readable for scikit

input_data = data[['region', 'tenure', 'age', 'marital', 'address', 'income', 'ed',
       'employ', 'retire', 'gender', 'reside']].values

input_label = data['custcat'].values

In [34]:
# normalizing

from sklearn import preprocessing

input_data_scaled = preprocessing.StandardScaler().fit(input_data).transform(input_data.astype(float))

In [38]:
#seperating test data from train data

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(input_data_scaled, input_label, train_size=.8, random_state=50)

In [45]:
#creating model

k=4
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(4)
model.fit(x_train,y_train)
y_predicted = model.predict(x_test)

In [48]:
#evaluating model

from sklearn import metrics
train_eval = metrics.accuracy_score( y_train , model.predict(x_train) )
test_eval = metrics.accuracy_score( y_test , y_predicted  )

In [49]:
train_eval

0.56

In [50]:
test_eval

0.345

In [71]:
# creating another model with a different K to reach better accuracy

k=30
from sklearn.neighbors import KNeighborsClassifier
model2 = KNeighborsClassifier(k)
model2.fit(x_train,y_train)
y_predicted2 = model2.predict(x_test)

In [72]:
from sklearn import metrics
train_eval2 = metrics.accuracy_score(y_train,model2.predict(x_train))
train_eval2

0.4475

In [73]:
test_eval2 = metrics.accuracy_score(y_test, y_predicted2)
test_eval2

0.375